.landing-page-container{
    background-color: #051C2C;
    height: 100%;
    width: 100%;
}

.using-notes-icon{
    width: 85%;
    height: 85%;
}

.arrow{
    position: relative;
    height: 100%;
    margin-top: 15%;
    padding-left: 20%;
}

.login-section{
    min-height: 570px;
}

.login-section-body{
    width: fit-content;
}