body{
    background-color: #051C2C;
}

.features-header{
    font-family: Poppins, sans-serif;
    font-weight: 900;
    color: #FF8D72;
}

.login-prompt{
    height: 100%;
    border-radius: 5px;
    width: max-content;
}