.landing-page-container{
    background-color: #051C2C;
    height: 100vh;
    width: 100%;
}

#focus{
    background-color: #1E2027;
}

.using-notes-icon{
    width: 85%;
    height: 85%;
}

.icon-container{
    background-color: #051C2C;
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    margin-top: -45px;
    left: -25px;
    z-index: 2;
}
.feature-icon{
    width: 50px;
    height: 50px;
    opacity: 0.8;
}

.introduction{
    width: max-content;
}

.padding-inherit{
    padding: inherit;
}